<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>All detected expressions</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Search Expression (You can search only for one criteria!)</h4>
                </div>
                <form action="#" th:action="@{/expressions/search/equal}" th:object="${search}" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                <label for="result">Search for equal results</label>
                                <input class="form-control" type="text" id="result" name="result"
                                       th:field="*{searchResult}" placeholder="Enter number for search equal results"
                                       required pattern="\-?[0-9]+\.?[0-9]+">
                            </div>
                            <button type="submit" class="btn btn-success" style="margin: 20px">Search
                            </button>
                        </div>
                    </div>
                </form>

                <form action="#" th:action="@{/expressions/search/more}" th:object="${search}" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                <label for="moreResult">Search for more results</label>
                                <input class="form-control" type="text" id="moreResult" name="moreResult"
                                       th:field="*{searchResult}"
                                       placeholder="Enter number for search results more than input number" required
                                       pattern="\-?[0-9]+\.?[0-9]+">
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin: 20px">Search
                            </button>
                        </div>
                    </div>
                </form>

                <form action="#" th:action="@{/expressions/search/less}" th:object="${search}" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                <label for="lessResult">Search for less results</label>
                                <input class="form-control" type="text" id="lessResult" name="lessResult"
                                       th:field="*{searchResult}"
                                       placeholder="Enter number for search results less than input number" required
                                       pattern="\-?[0-9]+\.?[0-9]+">
                            </div>
                            <button type="submit" class="btn btn-warning" style="margin: 20px">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>