<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>All detected expressions</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Search Expression</h4>
                </div>
                <form action="#" th:action="@{/expressions/search/equal}" th:object="${search}" method="post">
                    <div class="row" style="padding-left: 20px">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="result">Result</label> <span class="text-danger">*</span>
                                <input class="form-control" type="text" id="result" name="result"
                                       th:field="*{searchResult}" placeholder="Enter result" required>
                            </div>
                            <button type="submit" class="btn btn-outline-primary" style="margin-bottom: 30px">Search equal results</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>