<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Create Expression</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Expression</h4>
                </div>
                <div class="card-body">
                              <form action="#" th:action="@{/expressions/new}" th:object="${newExpression}" method="post">
                    <div class="form-group">
                        <label for="expression">Enter expression </label><span class="text-danger">*</span>
                        <input type="text" class="form-control"
                               id="expression" aria-describedby="expression" placeholder="Enter expression"
                               th:field="*{expression}" required>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>